<div class="card m-2 p-3" style="width: 200px;">
    <h5>@Product.Name</h5>
    <p>Price: Rs. @Product.Price</p>
    <p>Likes: ❤️ @Product.Likes</p>
</div>

@code {
    [Parameter]
    public Product Product { get; set; }
}
